<div class="collapse navbar-collapse" id="menu">
    <nav class="side-nav">
        <ul>
            <a class="pdaMenu Dashboard" href="/"><li><span class="fa fa-tachometer"></span>Dashboard</li></a>
            <a class="pdaMenu Roles" href="/Roles/Index"><li><span class="fa fa-crosshairs"></span>Roles</li></a>
            <a class="pdaMenu Users" href="/Users/Index"><li><span class="fa fa-users"></span>Users</li></a>
            <a class="pdaMenu Modules" href="/Modules/Index"><li><span class="fa fa-cubes"></span>Modules</li></a>
            <a class="pdaMenu Circuits" href="/Circuits/Index"><li><span class="fa fa-key"></span>Circuit</li></a>
            <a class="pdaMenu Cinemas" href="/Cinemas/Index"><li><span class="fa fa-film"></span>Cinema</li></a>
            <a class="pdaMenu FilmReleaseRules" href="/FilmReleaseRules/Index"><li><span class="fa fa-gavel"></span>Film Release Rules</li></a>
            <a class="pdaMenu ProviderValues" href="/ProviderValues/Index"><li><span class="fa fa-credit-card"></span>Payment Providers</li></a>
            @*<a href="/Cinemas/Index"><li><span class="fa fa-cog"></span>Settings</li></a>*@
        </ul>
    </nav>
</div>