@model IEnumerable<PeachDigital.Administration.Models.ProviderValue>

@{
    ViewBag.Title = "PDA | Pyament Providers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payment Providers</li>
    </ol>
</nav>
<h2>
    Payment Providers
    <a href="/ProviderValues/Create" class="btn btn-orange"><span class="fa fa-plus-circle"></span>add Providers</a>
</h2>

<div class="row main-content">
    <div class="col-sm-12">
        <div class="table-responsive tbl-pagination">
            <table class="table table-general" id="tblPaymentProviders">
                <thead>
                    <tr>
                        <th>Mode</th>
                        <th>Circuit</th>
                        <th>Cinema</th>
                        <th>Provider Setup Name</th>
                        <th>Service Name</th>
                        <th>Provider Url</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Client Id</th>
                        <th>Work Station Code</th>
                        <th>Client Class</th>
                        <th>Perform Payment</th>
                        <th>Template Print Stream</th>
                        <th>Club Id</th>
                        <th>Provider Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="NewPaginationContainer"></div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('#tblPaymentProviders').DataTable({
                "proccessing": true,
                "serverSide": true,
                "bFilter": false,
                "oLanguage": {
                    "sLengthMenu": "Records _MENU_",
                },
                "pagingType": "simple_numbers",
                "sAjaxSource": "/ProviderValues/GetProvidersByPaging/",
                "columns": [
                    { "data": "Mode" },
                    { "data": "Circuit" },
                    { "data": "Cinema" },
                    { "data": "ProviderSetUpName" },
                    { "data": "ServiceName" },
                    { "data": "ProviderUrl" },
                    { "data": "Username" },
                    { "data": "Password" },
                    { "data": "ClientId" },
                    { "data": "WorkStationCode" },
                    { "data": "ClientClass" },
                    { "data": "PerformPayment" },
                    { "data": "TemplatePrintStream" },
                    { "data": "ClubId" },
                    { "data": "ProviderName" },
                    { "data": "Actions"}
                ]
            });

            $(".table-responsive.tbl-pagination").find('*').removeClass("row");
            $("table").parent().removeAttr("class");
            $(".table-responsive.tbl-pagination").find('*').removeClass("col-sm-6");

            $("#NewPaginationContainer").append($(".dataTables_paginate"));

        });

    </script>

}