@model IEnumerable<PeachDigital.Administration.Models.Role>

@{
    ViewBag.Title = "PDA | Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Roles</li>
    </ol>
</nav>
<h2>
    Role
    <a href="/Roles/Create" class="btn btn-orange"><span class="fa fa-plus-circle"></span>add role</a>
</h2>

<div class="row main-content">
    <div class="col-sm-12">
        <div class="table-responsive tbl-pagination">
            <table class="table table-general" id="tblRoles">
                @*<caption>
                    <div class="search-add-new">
                        <a href="/Roles/Create" class="btn btn-orange"><span class="fa fa-plus-circle"></span>add role</a>
                    </div>
                </caption>*@
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('#tblRoles').DataTable({
                "proccessing": true,
                "serverSide": true,
                "bFilter": false,
                "oLanguage": {
                    "sLengthMenu": "Records _MENU_",
                },
                "pagingType": "simple_numbers",
                "sAjaxSource": "/Roles/GetRolesByPaging/",
                "columns": [
                    { "data": "Name"},
                    { "data": "Actions"}
                ]
            });

            $(".table-responsive.tbl-pagination").find('*').removeClass("row");
            $("table").parent().removeAttr("class");
            $(".table-responsive.tbl-pagination").find('*').removeClass("col-sm-6");

        });

    </script>

}