@{
    ViewBag.Title = "Peach Digital | Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Welcome to Peach Digital Administration</h2>
<div class="row top-stats-widget">
    <div class="col-xs-4">
        <div class="widget-1">
            <h6>Total Users</h6>
            <h1>1,460</h1>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="widget-2">
            <h6>Roles</h6>
            <h1>22</h1>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="widget-3">
            <h6>Modules</h6>
            <h1>260</h1>
        </div>
    </div>
</div>
<div class="row main-content">
    <div class="col-sm-12">
        <h3>
            Latest Report
            <span>
                <i>Records</i>
                <select>
                    <option>10</option>
                </select>
            </span>
        </h3>
        <div class="table-responsive">
            <table class="table table-general">
                <thead>
                    <tr>
                        <th width="15%">Date</th>
                        <th width="15%">Ticket ID</th>
                        <th width="15%">Status</th>
                        <th width="15%">Name</th>
                        <th width="20%">Email</th>
                        <th width="20%">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/08/12</td>
                        <td><a href="">4548752</a></td>
                        <td><span class="label label-available">Available</span></td>
                        <td>Richard Johns</td>
                        <td>Richard@peachdigital.com</td>
                        <td>+ 9754 5487 45</td>
                    </tr>
                    <tr>
                        <td>12/08/12</td>
                        <td><a href="">4548752</a></td>
                        <td><span class="label label-reserve">Reserved</span></td>
                        <td>Richard Johns</td>
                        <td>Richard@peachdigital.com</td>
                        <td>+ 9754 5487 45</td>
                    </tr>
                    <tr>
                        <td>12/08/12</td>
                        <td><a href="">4548752</a></td>
                        <td><span class="label label-available">Available</span></td>
                        <td>Richard Johns</td>
                        <td>Richard@peachdigital.com</td>
                        <td>+ 9754 5487 45</td>
                    </tr>
                    <tr>
                        <td>12/08/12</td>
                        <td><a href="">4548752</a></td>
                        <td><span class="label label-reserve">Reserved</span></td>
                        <td>Richard Johns</td>
                        <td>Richard@peachdigital.com</td>
                        <td>+ 9754 5487 45</td>
                    </tr>
                    <tr>
                        <td>12/08/12</td>
                        <td><a href="">4548752</a></td>
                        <td><span class="label label-available">Available</span></td>
                        <td>Richard Johns</td>
                        <td>Richard@peachdigital.com</td>
                        <td>+ 9754 5487 45</td>
                    </tr>
                    <tr>
                        <td>12/08/12</td>
                        <td><a href="">4548752</a></td>
                        <td><span class="label label-reserve">Reserved</span></td>
                        <td>Richard Johns</td>
                        <td>Richard@peachdigital.com</td>
                        <td>+ 9754 5487 45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>